body{
	margin: 0;
	padding: 0;
	font-family: cursive;
}

#linea{
	width: 100%; 
	height: 5px;
	background: #000000;
}

#header{
	width: 100%;
	height: 90px;
	background: #000000;
}

#header #centro1{
	width: 800px;
	height: auto;
	border: 1px solid;
	margin: auto;
}

#header #centro1 #logo{
	width: 200px; border: 0px solid;
}

#header #centro1 #logo h2,p{
	color:#ffffff;
}

 #header #centro1 #logo p{
 	margin-top: -20px;

}

/*---- menu-----*/ 

#header #menu{
	width: 580px;
	height: auto;
	overflow: hidden;
	border: 0px solid;
	float: right;
	text-align: right;
}

#header #menu ul li {

	display: inline-block;

}

#header #menu ul li a{
	color: #000000;
	text-decoration: none;
	padding: 7px 10px; 
	margin: 0px 4px;
}

#header #menu ul li a:hover{
	background: #ffffff;
}

/*----slider-----*/
.vaina{
	width: 1350px;
	height: 900px;
	
}
.slider {
	width: 100%;
	height: 320px;

	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*---trajetas---*/

.contenedor {
	position: relative;
	width: 100%;
	margin: 0 auto;
	transition: all 0.3s ease-out;
	margin-top: 50px;
	margin-bottom: 20px;
	display: block;
}

.contenedor-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contenedor-cards .contenedor-card-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 25%;
	margin: 1%;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 5px;
	cursor: help;
}

.contenedor-cards .contenedor-card-item:hover {
	box-shadow: 0 15px 30px rgba(0,0,0,0.3);
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}

.contenedor-card-item-wrapper {
	overflow: hidden;
	position: relative !important;
	background: #3E2723;
	border-radius: 5px;
}

.contenedor-card-item img {
	max-width: 100%;
	position: relative;
	top: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	border-radius: 5px;
}

.contenedor-card-item .contenedor-info {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: -70px;
	-webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-card-item .contenedor-info .fondo {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.73) 53%, rgba(0,0,0,0.88) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.contenedor-card-item .contenedor-info .info {
	color: #fff;
	position: relative;
	z-index: 500;
	padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .titulo {
  margin: 0;
  font-size: 20px;
}

.contenedor-card-item .contenedor-info .info .categoria {
	display: block;
	font-size: 10px;
}

.contenedor-card-item:hover .contenedor-info {
	bottom: 0;
}

.contenedor-card-item:hover img {
	top: -30px;
	-webkit-transform: rotate(-5deg) scale(2);
	-ms-transform: rotate(-5deg) scale(2);
	-o-transform: rotate(-5deg) scale(2);
	transform: rotate(-5deg) scale(2);
}

@media screen and (max-width: 900px) {
	.contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(-5deg) scale(1.3);
    -ms-transform: rotate(-5deg) scale(1.3);
    -o-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3);
  }

	.contenedor-card-item .contenedor-info {
		bottom: 0;
	}
}

@media screen and (max-width: 767px) {
	.contenedor {
		width: 95%;
	}

	.contenedor-cards .contenedor-card-item {
		width: 48%;
		margin: 1%;
	}
}

@media screen and (max-width: 550px) {
  .contenedor-cards .contenedor-card-item {
    width: 60%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
	.contenedor {
		width: 90%;
	}
  
  .contenedor-cards .contenedor-card-item {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
	.contenedor {
		width: 100%;
	}
}